<!--
  templateType: global_partial
  label: Microsite header
-->
<header class="header">
  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

  <a href="#main-content" class="header__skip">Skip to content</a>

  {# Top header drag and drop area #}

  {% dnd_area 'header-top'
    label='Top header',
    class='content-wrapper'
  %}
  {% end_dnd_area %}

  {# Main header #}

  <div class="header__container content-wrapper">

    <div class="header__column">

      {# Header navigation row one #}

      <div class="header__row-1">

      <div class="logo__lockup">
        <div class="header__logo header__logo--main">
        {% module 'site_logo' path='@hubspot/logo' %}
        </div>
        {% if site_name %}
          <div class="site-name h3">
            {{site_name}}
          </div>
        {% endif %}
      </div>
        
        <div class="header__search">
          {% module 'site_search'
            path='@hubspot/search_input',
            label='Search',
            field_label='Search',
            placeholder='brand colors'
          %}
        </div>
      </div>
      
      {# Header navigation row two #}

      <div class="header__row-2 header__row two">
        <div class="header--toggle header__navigation--toggle"></div>
        <div class="header--toggle header__search--toggle"></div>
        <div class="header__close--toggle"></div>
        <div class="header__navigation header--element">
        {% module "Menu" 
          path="../../modules/menu-section.module",
          sticky_menu_selector=".header__row.two",
          label="Menu",
          primary_menu_field={{navigation_id}}
        %}
        </div>
      </div>

    </div>

  </div>
  
  {# after-menu header drag and drop area #}

  {% dnd_area 'header-bottom'
    label='Bottom header',
    class='content-wrapper'
  %}
  {% end_dnd_area %}

  {# Bottom header drag and drop area #}

  {% dnd_area 'header-bottom'
    label='Bottom header',
    class='content-wrapper'
  %}
  {% end_dnd_area %}

{# copied from a hubspot community post as a starting point #}
{# Breadcrumbs #}
{% set menu_id = module.renamed_from_id || module.menu %}
  {% set node = menu(menu_id,"breadcrumb") %}
  
  
  {# if node null means it's pretty much the home page, so don't display it #}
{% if node != null %}
  <ul class="hs-breadcrumb-menu">
  
  
  {# Add the home page in #}
  {%  if node.level > '0' %}
      <li class="hs-breadcrumb-menu-item first-crumb">
        <a href="/" class="hs-breadcrumb-label">Home</a>
        <span class="hs-breadcrumb-menu-divider"></span>
      </li>
  {% endif %}

  {# Add the level in between if it's level 2 #}
  
  {%  if node.level > '1' %}
      <li class="hs-breadcrumb-menu-item first-crumb">
        <a href="{{node.parentNode.url}}" class="hs-breadcrumb-label">{{node.parentNode.label}}</a>
        <span class="hs-breadcrumb-menu-divider"></span>
      </li>
  {% endif %}
  
  {# ADD the CURRENT PAGE #}
  
  <li class="hs-breadcrumb-menu-item last-crumb">
    <span class="hs-breadcrumb-label">{{node.label}}</span>
  </li>
  </ul>
{% endif %}

{# end breadcrumbs #}

</header>
