/* Theme base styles */

/* Tools
Any animations, or functions used throughout the project.
Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
*/

{% include './_variables.css' %}

/* Generic
This is where reset, normalize & box-sizing styles go.
*/

{% include './generic/_reset.css' %}
{% include './generic/_normalize.css' %}

/* Objects
Non-cosmetic design patterns including grid and layout classes)
*/

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}

/* Elements
Base HMTL elements are styled in this section (<body<, <h1>, <a>, <p>, <button> etc.)
*/

{% include './elements/_typography.css' %}
{% include './elements/_buttons.css' %}
{% include './elements/_forms.css' %}
{% include './elements/_tables.css' %}

/* Components
Specific pieces of UI that are stylized. Typically used for global partial styling
*/

{% include './components/_header.css' %}
{% include './components/_footer.css' %}
{% include './components/_default-modules.css' %}
{% include './components/shared.css' %}
{% include './components/_ctas.css' %}

/* Utilities
Helper classes with ability to override anything that comes before it
*/

{% include './utilities/_helper.css' %}
/*
    These theme-wide element styles reference variables.css
*/

{% include './theme-overrides.css' %}
/*
    These theme-wide element styles reference variables.css
*/

:root {
    /* 
    Colors 
    */
    --c_primary: {{ primary_color}};
    --c_secondary: {{ secondary_color}};

    --c_salmon: {{theme.global_colors.salmon.color}};
    --c_rhubarb: {{theme.global_colors.rhubarb.color}};
    --c_cranberry: {{theme.global_colors.cranberry.color}};
    --c_cherry: {{theme.global_colors.cherry.color}};
    --c_wheat: {{theme.global_colors.wheat.color}};
    --c_tumeric: {{theme.global_colors.tumeric.color}};
    --c_gold: {{theme.global_colors.gold.color}};
    --c_sky: {{theme.global_colors.sky.color}};
    --c_bluebird: {{theme.global_colors.bluebird.color}};
    --c_ocean: {{theme.global_colors.ocean.color}};
    --c_jade: {{theme.global_colors.jade.color}};
    --c_midnight: {{theme.global_colors.midnight.color}};
    --c_charcoal: {{theme.global_colors.charcoal.color}};
    --c_storm: {{theme.global_colors.storm.color}};
    --c_cloud: {{theme.global_colors.cloud.color}};
    --c_mist: {{theme.global_colors.mist.color}};
    --c_eggshell: {{theme.global_colors.eggshell.color}};
    --c_white: {{theme.global_colors.white.color}};

    /* 
        Sizes
    */
    /* line widths */
    --sp_thin_line: {{sp_thin_line ~'px'}};/* 1 */
    --sp_fat_line: {{sp_fat_line ~'px'}};/* 4 */
    --sp_xx_sm: {{sp_xx_sm ~'px'}};/* 5 */
    --sp_x_sm: {{sp_x_sm ~'px'}};/* 10 */
    --sp_sm: {{sp_sm ~'px'}};/* 15 */
    --sp_md: {{sp_md ~'px'}};/* 20 */
    --sp_lg: {{sp_lg ~'px'}};/* 30 */
    --sp_x_lg: {{sp_x_lg ~'px'}};/* 40 */
    --sp_xx_lg: {{sp_xx_lg ~'px'}};/* 80 */
    --sp_xxx_lg: {{sp_xxx_lg ~'px'}};/* 120 */
    --content_width: {{sp_max_width ~ 'px'}};/* 1200 */
    --dnd_section_padding: {{theme.spacing.vertical_spacing ~ 'px ' ~ '20px' }};
}