.card_list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card__container {
  display: inline-block;
  display: flex;
}

.card__container:not(:last-child) {
  margin: 0 20px 0 0 ;
  margin: 0 var(--sp_md) 0 0 ;
}

.card__image {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.card__text {
  padding: 0 0.7rem;
  width: 100%;
}