.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cards__card {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.4rem;
  max-width: 100%;
  width: 300px;
}

.card__image {
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.card__text {
  padding: 0 10px;
  width: 100%;
}

.card__image-container {
  width: 100%;
  height: 16rem;
  height: 0;
  padding: .5rem;
  padding-bottom: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}