{# Module styles #}
{% import "../_macros/card-macro.html" as card_macro %}

<div 
  class="card-list{% if module.styles.list_style %} card-list--{{module.styles.list_style}}{% endif %}"
  {%- if module.styles.card_list_bg_color.css -%}style="background-color: {{module.styles.card_list_bg_color.css}};"{%- endif -%}}
>
  {# Loops through each card in the cards repeater #}
  {% for list_card in module.card_list %}

    {% set card_config = {
      'card_label' : list_card.card_label.label_text,
      'image' : list_card.media.image,
      'image_bg_color' : list_card.media.bg_color,
      'image_sizing' : list_card.media.cropping,
      'image_position_y' : list_card.media.position_y,
      'image_position_x' : list_card.media.position_x,
      'image_repeat_x' : list_card.media.repeat_x,
      'image_repeat_y' : list_card.media.repeat_y,
      'title' : list_card.text.title_text,
      'caption' : list_card.text.media_caption,
      'content' : list_card.text.rich_text_content,
      'link' : list_card.link.link,
      'link_presentation' : list_card.link_presentation,
      'link_text' : list_card.link.link_text,
      'icon' : list_card.icon.icon,
      'icon_color' : list_card.icon.icon_color,
      'card_label_position_class' : module.styles.label_styles.label_position_class,
      'label_style_class' : module.styles.label_styles.label_style_class,
      'label_alignment_class' : module.styles.label_styles.label_alignment_class,
      'image_padding' : module.styles.image_padding_class,
      'image_aspect_ratio' : module.styles.image_aspect_ratio,
      'card_title_class' : module.styles.card_text_styles.title_size,
      'content_padding' : module.styles.card_text_styles.content_padding_class,
      'content_bg_color' : list_card.borders_colors.content_bg_color.css,
      'link_alignment' : module.styles.link_alignment,
      'icon_location': module.styles.icon_styles.icon_location,
      'icon_size': module.styles.icon_styles.icon_size,
      'icon_position_classes' : module.styles.icon_styles.icon_position_classes,
      'border_location' : module.styles.border_location,
      'card_bg_color' : list_card.borders_colors.card_bg_color.css,
      'title_bg_color' : list_card.borders_colors.title_bg_color.css,
      'image_bg_color' : list_card.borders_colors.image_bg_color.css,
      'caption_bg_color' : list_card.borders_colors.caption_bg_color.css,
      }
    %}

    {{card_macro.build_module(card_config)}}

  {% endfor %}

</div>
