{#
  Config Options:
{
    'image' : object (image object),
    'image_bg_color'
    'is_image_figure' : boolean //This card's image creates a figure that make sense as an appendix (Yes/No) If so, use <figure> and <figcaption>,
    'sizing': choice ["contain", "cover"]
    'position_y': choice ["top", "25%, "center", "75%, "bottom"] // image position vertical
    'position_x': choice ["left", "25%, "center", "75%, "right"]
    image_padding_class e.g. sp_sm sp_md sp_lg sp_x_lg
    'image_repeat_x': choice ["repeat", "no-repeat"]
    'image_repeat_y': choice ["repeat", "no-repeat"]
    'caption' : string (single line text),
    'heading' : string (single line text),
    'heading_style' : choice ['', 'card__heading--rule', 'card__heading--boxed']
    'heading_size' : choice ['', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    'content' : html (rich text)
    'layout_direction' : choice ['horizontal', 'vertical'],
    'card_shadow' : boolean (whether to display a shadow behind the card),
}
#}
{#
## done:
apply heading styles
apply basic layout alignment

## todo:
attempt to apply meaningful min-max
attempt to apply reasonable image size/display control
implement layout direction (just stick a class on the element and style in card-style.css)
implement semantic markup
    if is_article
        <article>
        <hx>
    if is_figure
        <figure>
        <figcaption>
implement semantic styling
    article, hx
    figure, figcaption

CARD LIST
implement card list with adjustable gutters
#}

{%- macro build_module(config) -%}
    {{ require_css(  get_asset_url('/bastyr21/modules/_macros/card-macro-styles.css')  ) }}

    {# 
        for article
        not currently in use... can use these to change markup to use article and hx (h1, etc) 
        tags for semantic markup in the case of stand-alone content, but this may make more sense
        as another module
    #}
    {% set card_heading_class_string = '' %}
    {% if config.is_article == true %}
        {% set card_element = 'article' %}
        {% set card_heading_element = '{{config.heading_size}}' %}
    {% else %}
        {% set card_element = 'div' %}
        {% set card_heading_element = 'p' %}
        {%- set card_heading_class_string = card_heading_class_string ~ ' ' ~ config.heading_size -%}
    {% endif %}
    {# end for article (not in use) #}

    {% if config.card_shadow %}
        {% set card_shadow_class = 'card--shadow' %}
    {% else %}
        {% set card_shadow_class = '' %}
    {% endif %}

    {% if config.image_padding_class %}
        {% set image_padding_class = 'image-padding-' ~ config.image_padding_class %}
    {% else %}
        {% set image_padding_class = '' %}
    {% endif %}

    <div class="card__container">
        <div class="card {{card_shadow_class}}">
            <div class="card__image-container">
                <div class="image__wrapper {{image_padding_class}}">
                    <div class="card__image image" 
                        style="background-image:url('{{config.image.src}}');
                            {%- if config.image_sizing -%} background-size: {{config.image_sizing}}; {%- endif -%}
                            {%- if config.image.size_type == 'exact' -%} background-size: {{config.image.width}}px {{config.image.height}}px;{%- endif %}
                            {%- if config.image_position_x -%}  background-position-x: {{config.image_position_x}}; {%- endif -%}
                            {%- if config.image_position_y -%} background-position-y: {{config.image_position_y}}; {%- endif -%}
                            {%- if config.image_repeat_x -%} background-repeat-x: {{config.image_repeat_x}}; {%- endif -%}
                            {%- if config.image_repeat_y -%} background-repeat-y: {{config.image_repeat_y}}; {%- endif -%}"
                    >
                </div>
            </div>
                {% if config.caption %}
                <p class="card__caption h5">
                    {{config.caption}}
                </p>
                {% endif %}
            </div> <!-- card__image-container -->
            <div class="card__content-container">
                <p class="card__heading {{card_heading_class_string}}">
                    {{config.heading}}
                </p>
                <div class="card__rich-text-container">
                    {{ config.content }}
                </div>
            </div> <!-- card__content-container -->
        </div>  <!-- card -->
    </div> <!-- card__container :) -->

{%- endmacro -%}