.card {
    border: 1px solid;
    border-color: #ccc;
    border-color: var(--c_cloud);
    border-color: var(--c_secondary);
    text-align: left;
    width: 100%;
}

.card--shadow {
    box-shadow: 0 0 10px var(--c_secondary); 
}

.card--vertical {
    display: flex;
    flex-direction: column;
}

.card--horizontal {
    display: flex;
    flex-direction: row;
}

.card--horizontal .card__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card--horizontal .card__caption {
    margin-bottom: 20px;
    margin-bottom: var(--sp_md);
}

.card__container {
    width: 100%;
    text-align: center;
}

/* .card__content-container {
    padding: 1.2rem;
    padding: var(--sp_sm);
} */

.card__caption {
    font-style: italic;
    padding: .277778rem 0 0 0;
    padding: var(--sp_sm) 0 0 0;
    text-align: center;
    margin: 0;
}

.card__heading {
    margin-bottom: 10px;
    font-weight: 700;
}

/* keep uniform padding in box below image */
.card__rich-text-container *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

/* this rule needs to stay above the aspect ratio rules e.g. card__image--1-1 */
.card__image {
    background-size: cover;
}

.card__image-container {
  width: 100%;
  overflow: hidden;
}

.image_wrapper {
    width: 100%;
}

