.card__wrapper {
    display: flex;
    flex-direction: column;
}

.card {
    border: 1px solid;
    border-color: #ccc;
    border-color: var(--c_cloud);
    border-color: var(--c_secondary);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    width: 100%;
}

.card--shadow {
    box-shadow: 0 0 10px var(--c_secondary); 
}

/* horizontal layout */
.card--horizontal {
    display: flex;
    flex-direction: row;
}

/* pad card top and bottom while card includes text content */
.card--padding-sp_sm .card__title, .card--padding-sp_sm .card__rich-text-container {
    padding-top: var(--sp_sm);
    padding-bottom: var(--sp_sm);
}

.card--padding-sp_md .card__title, .card--padding-sp_md .card__rich-text-container {
    padding-top: var(--sp_md);
    padding-bottom: var(--sp_md);

}

.card--padding-sp_lg .card__title, .card--padding-sp_lg .card__rich-text-container {
    padding-top: var(--sp_lg);
    padding-bottom: var(--sp_lg);

}

.card--padding-sp_x_lg .card__title, .card--padding-sp_x_lg .card__rich-text-container {
    padding-top: var(--sp_x_lg);
    padding-bottom: var(--sp_x_lg);

}

.card--padding-sp_sm>*, .card--padding-sp_sm .image__wrapper.padding-use-card {
    padding-left: var(--sp_sm);
    padding-right: var(--sp_sm);
}

.card--padding-sp_md>*, .card--padding-sp_md .image__wrapper.padding-use-card {
    padding-left: var(--sp_md);
    padding-right: var(--sp_md);
}

.card--padding-sp_lg>*, .card--padding-sp_lg .image__wrapper.padding-use-card {
    padding-left: var(--sp_lg);
    padding-right: var(--sp_lg);
}

.card--padding-sp_x_lg>*, .card--padding-sp_x_lg .image__wrapper.padding-use-card {
    padding-left: var(--sp_x_lg);
    padding-right: var(--sp_x_lg);
}

.card__content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card--horizontal .card__content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__label {
    margin: 0;
}

.card__label--top {
    order: -1;
    margin-bottom: .555555555555555555rem;
    }
    
.card__label--bottom {
    order: 5;
    margin-top: .555555555555555555rem;
}

.card--horizontal .card__caption {
    margin-bottom: 20px;
    margin-bottom: var(--sp_md);
}

.card__wrapper {
    width: 100%;
    text-align: center;
}

/* .card__content-container {
    padding: 1.2rem;
    padding: var(--sp_sm);
} */

.card__title {
    margin-bottom: 0.384615em;
    /* flex-basis: 2em;
    overflow: hidden; */
}

.card__caption {
    font-style: italic;
    padding: .277778rem 0 0 0;
    padding: var(--sp_sm) 0 0 0;
    text-align: center;
    margin: 0;
}

.card__heading {
    margin-bottom: 10px;
    font-weight: 700;
}

/* keep uniform padding in box below image */
.card__rich-text-container *:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

/* this rule needs to stay above the aspect ratio rules e.g. card__image--1-1 */
.card__image {
    background-size: cover;
}

.card__image-container {
  width: 100%;
  overflow: hidden;
  padding: 0; /* padding handled by child */
}

.image_wrapper {
    width: 100%;
}

