.card {
    border: 1px solid;
    border-color: #ccc;
    border-color: var(--c_cloud);
    border-color: var(--c_secondary);
    text-align: left;
    width: 100%;
}

.card--shadow {
    box-shadow: 0 0 10px var(--c_secondary); 
}

.card__container {
    width: 100%;
    text-align: center;
}

.card__content-container {
    padding: 1.2rem;
    padding: var(--sp_md);
}

.card__caption {
    font-style: italic;
    margin: .277778rem 0 0 0;
    margin: var(--sp_sm) 0 0 0;
    text-align: center;
}

.card__heading {
    margin-bottom: 10px;
    font-weight: 700;
}

/* keep uniform padding in box below image */
.card__rich-text-container *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.card__image {
    background-size: cover;
    padding-bottom: 100%;
}

.card__image-container {
  width: 100%;
  overflow: hidden;
}

.image_wrapper {
    width: 100%;
}

.image__wrapper.image-padding-sp_sm {
    padding: var(--sp_sm);
}

.image__wrapper.image-padding-sp_md {
    padding: var(--sp_md);
}

.image__wrapper.image-padding-sp_lg {
    padding: var(--sp_lg);
}

.image__wrapper.image-padding-sp_x_lg {
    padding: var(--sp_x_lg);
}