{#
Config Options:
{
    'image' : object (image object),
    'image_bg_color' color
    'is_image_figure' : boolean //This card's image creates a figure that make sense as an appendix (Yes/No) If so, use <figure> and <figcaption>,
    'sizing': choice ["contain", "cover"]
    'position_y': choice ["top", "25%, "center", "75%, "bottom"] // image position vertical
    'position_x': choice ["left", "25%, "center", "75%, "right"]
    image_padding : string sp_sm | sp_md | sp_lg | sp_x_lg
    image_aspect_ratio : choice 1-1 | 16-9 | 4-3 | 3-2 | 9-16 | 3-4 | 2-3
    'image_repeat_x': choice ["repeat", "no-repeat"]
    'image_repeat_y': choice ["repeat", "no-repeat"]
    'caption' : string (single line text),
    caption_bg_color: color
    'title' : string (single line text),
    'title_style' : choice ['', 'card__title--rule', 'card__title--boxed']
    'title_size' : choice ['', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    title_bg_color: color
    'content' : html (rich text)
    content_padding: string sp_sm | sp_md | sp_lg | sp_x_lg
    content_bg_color: color
    'layout_direction' : choice ['horizontal', 'vertical'],
    'card_shadow' : boolean (whether to display a shadow behind the card),
    card_orientation horizontal|vertical
    list_style horizontal|vertical
}
#}

{%- macro build_module(config) -%}
    {{ require_css(  get_asset_url('/bastyr21/modules/_macros/card-macro-styles.css')  ) }}

    {# 
        for article
        planned / NOT in use yet .. can use these to change markup to use article and hx (h1, etc) 
        tags for semantic markup in the case of stand-alone content, but this may make more sense
        as another module
    #}
    {% set card_title_class_string = '' %}
    {% if config.is_article == true %}
        {% set card_element = 'article' %}
        {% set card_title_element = '{{config.title_size}}' %}
    {% else %}
        {% set card_element = 'div' %}
        {% set card_title_element = 'p' %}
        {%- set card_title_class_string = card_title_class_string ~ ' ' ~ config.title_size -%}
    {% endif %}
    {# end for article (not in use) #}

    {% if config.card_shadow %}
        {% set card_shadow_class = 'card--shadow' %}
    {% else %}
        {% set card_shadow_class = '' %}
    {% endif %}

    {% if config.image_padding %}
        {% set image_padding_class = 'padding-' ~ config.image_padding %}
    {% else %}
        {% set image_padding_class = '' %}
    {% endif %}
    
    {% if config.content_padding %}
        {% set content_padding_class = 'padding-' ~ config.content_padding %}
    {% else %}
        {% set content_padding_class = '' %}
    {% endif %}

    <div class="card__container">
        <div class="card {{card_shadow_class}}{% if config.card_orientation %} card--{{config.card_orientation}}{% endif %}" {%- if config.card_bg_color -%}style="background-color: {{config.card_bg_color}};"{%- endif -%}}>
            {%- if config.image.src -%}
            <div class="card__image-container">
                <div class="image__wrapper {{image_padding_class}}" {%- if config.image_bg_color -%}style="background-color: {{config.image_bg_color}};"{%- endif -%}}>
                    <div class="card__image card__image--{{config.image_aspect_ratio}} image" 
                        style="background-image:url('{{config.image.src}}');
                            {%- if config.image_sizing -%} background-size: {{config.image_sizing}}; {%- endif -%}
                            {%- if config.image.size_type == 'exact' -%} background-size: {{config.image.width}}px {{config.image.height}}px;{%- endif %}
                            {%- if config.image_position_x -%}  background-position-x: {{config.image_position_x}}; {%- endif -%}
                            {%- if config.image_position_y -%} background-position-y: {{config.image_position_y}}; {%- endif -%}
                            {%- if config.image_repeat_x -%} background-repeat-x: {{config.image_repeat_x}}; {%- endif -%}
                            {%- if config.image_repeat_y -%} background-repeat-y: {{config.image_repeat_y}}; {%- endif -%}"
                    >
                    </div><!--card__image-->
                </div><!--image__wrapper-->
                {% if config.caption %}
                <p class="card__caption h5" {%- if config.caption_bg_color -%}style="background-color: {{config.caption_bg_color}};"{%- endif -%}}>
                    {{config.caption}}
                </p>
                {% endif %}    
            </div> <!-- card__image-container -->
            {%- endif -%} {# if config.image #}
            <div class="card__content-container {{content_padding_class}}" {%- if config.content_bg_color -%}style="background-color: {{config.content_bg_color}};"{%- endif -%}}>
                <p class="card__title {{card_title_class_string}}" {%- if config.title_bg_color -%}style="background-color: {{config.title_bg_color}};"{%- endif -%}}>
                    {{config.title}}
                </p>
                <div class="card__rich-text-container">
                    {{ config.content }}
                </div>
            </div> <!-- card__content-container -->
        </div>  <!-- card -->
    </div> <!-- card__container :) -->

{%- endmacro -%}